@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white1: #f9f9f9;
    --white2: #ebebeb;
    --white3: #d6d6d6;
    --white4: #c2c2c2;
    --white5: #adadad;

    --black1: #666666;
    --black2: #525252;
    --black3: #3d3d3d;
    --black4: #292929;
    --black5: #141414;

    --green1: #56dc7c;
    --green2: #34d562;
    --green3: #24b24c;
    --green4: #1f9842;
    --green5: #187733;

    --blue1: #005af5;
    --blue2: #004bcc;
    --blue3: #003ca3;
    --blue4: #002d7a;
    --blue5: #001f54;

    --red1: #f490a0;
    --red2: #f06a81;
    --red3: #ed4561;
    --red4: #e92042;
    --red5: #c91432;

    --yellow1: #f8e0a0;
    --yellow2: #f4d06f;
    --yellow3: #f2c854;
    --yellow4: #efbc2e;
    --yellow5: #e4ac11;

    --orange1: #ffb370;
    --orange2: #ff9d47;
    --orange3: #ff7f11;
    --orange4: #f57200;
    --orange5: #cc5f00;
  }
  .dark {
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
